<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <a th:href="@{/app/secure/addpatient}" class="btn btn-primary btn-xs">Crear Paciente</a>
        </h4>
    </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>Historia Clinica</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paciente: ${pacientes}">
                    <td th:text="${paciente.historiaClinica}"></td>
                    <td th:text="${paciente.nombre}"></td>
                    <td th:text="${paciente.apellido}"></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/app/secure/addpatient/}+${paciente.id}" th:text="'editar'"></a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/app/secure/delete/}+${paciente.id}" th:text="'Eliminar'" onclick="return confirm('Estas Seguro que quieres Eliminar?');"></a>  </td>
                </tr>
            </tbody>
        </table>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>